01_Data_Preprocessing/data_all/

01_Data_Preprocessing/datasets/*
!01_Data_Preprocessing/datasets/.gitkeep

01_Data_Preprocessing/octagon_damaged/
01_Data_Preprocessing/master_dataset.csv


02_Quality_Filtering/data/*
!02_Quality_Filtering/data/.gitkeep

02_Quality_Filtering/data/data_split_quality/*
!02_Quality_Filtering/data/data_split_quality/.gitkeep

02_Quality_Filtering/results/*
!02_Quality_Filtering/results/
!02_Quality_Filtering/results/cnn_model/
!02_Quality_Filtering/results/cnn_model/convnext_tiny_28/
!02_Quality_Filtering/results/cnn_model/convnext_tiny_28/.gitkeep


03_Model_Training/data/data/*
03_Model_Training/data/master_excels/*

!03_Model_Training/data/data/.gitkeep
!03_Model_Training/data/master_excels/.gitkeep


03_Model_Training/encoders/results/*
!03_Model_Training/encoders/results/.gitkeep


03_Model_Training/classifier/results/*
!03_Model_Training/classifier/results/best_model/
!03_Model_Training/classifier/results/best_model/.gitkeep


*.pt
*.pth
*.h5
*.ckpt


__pycache__/
*.pyc


.ipynb_checkpoints/


.DS_Store


.idea/
.vscode/

03_Model_Training/data/preparation/quality_predictions.xlsx